:root {
  --bg-color: #fcf7f7;
  --theme-bg-color: #000000;
  --general-components-bg-color: #022c22;
  --border-radius: 10vh;
  --round-border-radius: 10vh;
  --text-color: #000000;
  --border-color: #e0e0e0;
  --h1-size: 10vh;
  --h2-size: 8vh;
  --h3-size: 6vh;
  --h4-size: 4vh;
  --h5-size:2vh;
  --p-size:2vh;
  --desktop-left-right-space: 8vh;
  --mobile-left-right-space: 4vw;
}
html.dark{
  --bg-color: #0f1a17   ;
  --theme-bg-color: #ffffff;
  --text-color: #ffffff;
  --border-color: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  outline: none;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}


@media screen and (max-width: 1024px) {
  :root{
    --h1-size: 10vw;
    --h2-size: 8vw;
    --h3-size: 6vw;
    --h4-size: 4vw;
    --h5-size:2vh;
    --p-size:2vh;
  }
}